.presentation {
    position: absolute;
    display: flex;
    gap: 50px;
    align-items: center;
    width: 50%;
    height: 50%;
    background: black;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px rgb(56, 56, 56);
    animation: growRightAndTop 1.3s ease-in-out 0.5s both;

    .logo-container {
        width: 150px;
        margin-left: auto;
        overflow: hidden;
        
        img {
            opacity: 0;
            animation: appearUp 0.9s ease-in-out 1.7s both;
        }
    }

    .presentation-container {
        color: white;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin-right: auto;
    }

    .presentation-name {
        font-size: 2em;
        letter-spacing: 5px;
        font-weight: 500;
        animation: appearUp 2s ease-in-out 1.6s both;
        opacity: 0;
    }

    .spacer {
        width: 100%;
        border-bottom: solid 1px white;
        animation: growRight 0.8s ease-in-out 2.3s both;
    }

    .presentation-text-container {
        overflow: hidden;
    }

    .presentation-job {
        font-size: 1.5em;
        letter-spacing: 2px;
        font-weight: 300;
        animation: appearDown 2s ease-in-out 1.6s both;
        opacity: 0;
    }
}